@use "../utils" as *;

.list {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: rem(32);
        font-size: rem(40);
        font-weight: bold;
        line-height: 100%;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(320), 1fr));
        gap: rem(16);
    }

    @media screen and (min-width: rem(696)) {
        &__title {
            margin-bottom: rem(40);
            font-size: rem(100);
        }
    }
}
