@use "../utils" as *;

.list {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: rem(32);
        font-size: rem(40);
        font-weight: bold;
        line-height: 100%;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }
}
