@use "../utils" as *;

.nav {
    &__link {
        text-decoration: none;
        color: rgb(var(--stone-800));
    }

    @media screen and (max-width: rem(640)) {
        padding: rem(24) rem(20);
        background: rgb(var(--white));
        border-bottom-left-radius: rem(33);
        border-bottom-right-radius: rem(33);
        box-shadow: 0 0 rem(40) rem(-20) rgb(var(--black), 0);
        transition: padding 150ms ease-out, box-shadow 150ms ease-out;

        &--desktop {
            display: none;
        }

        &--open {
            padding: rem(24) rem(20) 0;
            box-shadow: 0 0 rem(40) rem(-20) rgb(var(--black), .35);

            .nav {
                &__wrapper {
                    grid-template-rows: 1fr;
                }

                &__dropdown {
                    margin: rem(40) 0;
                    opacity: 1;
                }

                &__icon {
                    &--open {
                        display: inline-block;
                    }

                    &--closed {
                        display: none;
                    }
                }
            }
        }

        &__header {
            display: flex;
            justify-content: space-between;
        }

        &__burger {
            position: relative;
            padding: 0;
            width: rem(48);
            height: rem(48);
            color: rgb(var(--stone-800));
            background: none;
            border: none;
            cursor: pointer;
            transition: transform 150ms ease-out;

            &:before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgb(var(--stone-100), 0);
                transform: scale(.75);
                transition: background 150ms ease-out, transform 150ms ease-out;
                border-radius: rem(8);
            }

            &:hover {
                &:before {
                    background: rgb(var(--stone-100), 1);
                    transform: scale(1);
                }
            }

            &:active {
                transform: scale(.95);
            }
        }

        &__icon {
            position: relative;
            display: inline-block;
            z-index: 1;

            &--open {
                display: none;
            }
        }

        &__wrapper {
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            transition: grid-template-rows 150ms ease-out;
        }

        &__dropdown {
            display: flex;
            flex-direction: column;
            gap: rem(16);
            min-height: 0;
            margin: 0;
            opacity: 0;
            transition: margin 150ms ease-out, opacity 150ms ease-out;
        }

        &__link {
            padding: rem(24) rem(16);
            font-size: rem(32);
            font-weight: bold;
            line-height: 100%;
            background: rgb(var(--stone-100));
            border-radius: rem(20);
            transition: background 150ms ease-out, transform 150ms ease-out;

            &:hover {
                background: rgb(var(--stone-200));
            }

            &:active {
                transform: scale(.95);
            }
        }
    }

    @media screen and (min-width: rem(640)) {
        position: fixed;
        top: rem(20);
        left: rem(20);
        right: rem(20);
        display: flex;
        justify-content: space-between;

        &--mobile {
            display: none;
        }

        &--scrolled {
            .nav {
                &__left,
                &__right {
                    background: rgb(var(--stone-100), .75);
                    backdrop-filter: blur(rem(20));
                }
            }
        }

        &__left,
        &__right {
            display: flex;
            gap: rem(24);
            padding: rem(16) rem(24);
            transition: background 150ms ease-out;
            border-radius: rem(16);
        }

        &__link {
            display: inline-block;
            font-size: rem(18);
            opacity: .7;
            transition: transform 150ms ease-out, opacity 150ms ease-out;

            &:hover {
                opacity: 1;
            }

            &:active {
                transform: scale(.95);
            }
        }
    }
}
