@use "utils" as *;

:root {
    font-family: var(--font-sans);
    transition: opacity 250ms ease-out;
}

.js {
    opacity: 0;

    *, *::before, *::after {
        transition: none !important;
    }
}

.wrapper {
    max-width: rem(1440);
    margin: 0 auto;
    padding: 0 rem(20);
}
