:root {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --white: 255, 255, 255;

    --stone-100: 245, 245, 244;
    --stone-200: 231, 229, 228;
    --stone-800: 41, 37, 36;

    --black: 0, 0, 0;

    --red-bg: 255, 162, 162;
    --red-fg: 130, 24, 26;

    --orange-bg: 255, 184, 106;
    --orange-fg: 126, 42, 12;

    --yellow-bg: 255, 223, 32;
    --yellow-fg: 115, 62, 10;

    --green-bg: 187, 244, 81;
    --green-fg: 53, 84, 14;

    --blue-bg: 83, 234,253;
    --blue-fg: 16, 78, 100;

    --indigo-bg: 163, 179, 255;
    --indigo-fg: 49, 44, 133;

    --purple-bg: 218, 178, 255;
    --purple-fg: 89, 22, 139;

    --pink-bg: 253, 165, 213;
    --pink-fg: 134, 16, 67;
}
