:root {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --white: 255, 255, 255;

    --stone-100: 245, 245, 244;
    --stone-200: 231, 229, 228;
    --stone-800: 41, 37, 36;

    --black: 0, 0, 0;
}
