@import "tailwindcss";
@source "../views";

@theme {
    --spacing: 0.0625rem;
}

[data-role="list"] ul,
[data-role="list"] ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0.875rem;
}

[data-role="list"] ul {
    list-style-type: disc;
}
[data-role="list"] ol {
    list-style-type: decimal;
}
